<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chuah.is_a_teacher.com.randomremindme" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
        </activity>

        <receiver android:name=".MainActivity$AlarmReceiver" >
        </receiver>
        <receiver android:name=".MainActivity$BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".RandomAlarmService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver
            android:name=".RingEventReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <service
            android:name=".AlarmUpdateService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
